version: '2'
services:
  db:
    image: mariadb:10.6
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MARIADB_DATABASE=mediawiki
    volumes:
      - ./.data/db:/var/lib/mysql
    ports:
      - 3306:3306
  adminer:
      image: "adminer:4"
      ports:
        - "8089:8080"
      depends_on:
        - db
  web: &app
    image: ubcctlt/mediawiki
    build: .
    ports:
      - 8080:80
    # use the links section if you want to use a container for a database.
    # if not, and you want to use an external database server, configure
    # if with the environment variables in the 'environment' section.
    # see README.md for more details.
    links:
      - db
    # uncomment the 'volumes' section to enable a shared volume with docker-compose
    volumes:
      - ./.data/web:/data:rw
      - ./CustomSettings.php:/conf/CustomSettings.php
      # do not uncomment this when starting a new instance from scratch as
      # init script won't be able to move this file
      #- ./LocalSettings.php:/var/www/html/LocalSettings.php
      #- ./CustomHooks.php:/var/www/html/CustomHooks.php
    environment:
      - MEDIAWIKI_SITE_SERVER=http://localhost:8080
      - MEDIAWIKI_SITE_NAME=My Awesome Wiki
      - MEDIAWIKI_DB_HOST=db
      - MEDIAWIKI_DB_PASSWORD=password
      # uncomment 'MEDIAWIKI_ENABLE_SSL' to enable SSL support
      # - MEDIAWIKI_ENABLE_SSL=true
      - MEDIAWIKI_EXTENSIONS=SmiteSpam,VisualEditor,WikiEditor,ParserFunctions,Cite,TemplateData,Scribunto,InputBox,Widgets,Maps,Math,LiquidThreads,Variables,RightFunctions,PageInCat,CategoryTree,LabeledSectionTransclusion,UserPageEditProtection,Quiz,UploadWizard,Collection,DynamicPageList,EmbedPage,UWUBCMessages,googleAnalytics,Renameuser,caliper,DeleteBatch,LinkTarget,HitCounters,GTag,3D,TimedMediaHandler
      - MEDIAWIKI_ALLOW_SITE_CSS_ON_RESTRICTED_PAGES=true
      # Add a logo to the wiki, can be relative paths to uploaded wiki images
      # Note: ICON (required) used by newer themes, LEGACY (optional) by older
      #- MEDIAWIKI_LOGO_ICON=/path/to/100x100/image/or/50x50/svg.svg
      #- MEDIAWIKI_LOGO_LEGACY1X=/path/to/135px_wide/image.png
      #- MEDIAWIKI_LOGO_LEGACY2X=/images/d/d5/Ubcwiki_logo_2x.png
      - PARSOID_DOMAIN=localhost
      - RESTBASE_URL=http://nodeservices:7231
      - LDAP_DOMAIN=CWL
      - LDAP_SERVER=ldap
      - LDAP_ENCRYPTION_TYPE=clear
      - LDAP_SEARCH_ATTRS=cn
      - LDAP_PROXY_AGENT=cn=admin,dc=example,dc=org
      - LDAP_PROXY_PASSWORD=admin
      - LDAP_BASE_DN=dc=example,dc=org
      - LDAP_USER_BASE_DN=dc=example,dc=org
      - LDAP_USERNAME_ATTR=cn
      - LDAP_REALNAME_ATTR=displayname
      - LDAP_EMAIL_ATTR=mail
      - UBC_AUTH_ENABLED=true
      # FIXME skip domain checking in Parsoid. used in our own ParsoidHandler_custom_xxxx.php.
      # in our Apache conf file, we are redirecting requests to restbase with domain "localhost",
      # but the Parsoid domain is not configurable.  hence disable the check.
      - PARSOID_SKIP_DOAMIN_CHECK=true
      - AUTO_CREATED_USER_REDIRECT=UBC_Wiki:Welcome
      - MEDIAWIKI_MAIN_CACHE=redis
      - MEDIAWIKI_REDIS_HOST=redis
      - MEDIAWIKI_REDIS_PORT=6379
      #- MEDIAWIKI_REDIS_PASSWORD=
      - MEDIAWIKI_REDIS_PERSISTENT=true
      #- MEDIAWIKI_MAIN_CACHE=CACHE_NONE
      #- MEDIAWIKI_MEMCACHED_SERVERS=["memcached:11211"]
      # uncomment to specify the wgUploadPath
      # - MEDIAWIKI_UPLOAD_PATH=
      #- GOOGLE_ANALYTICS_ID=UA-XXXXXXX-XX
      # GoogleAnalyticsMetrics: https://www.mediawiki.org/wiki/Extension:GoogleAnalyticsMetrics
      #- GOOGLE_ANALYTICS_METRICS_ALLOWED
      #- GOOGLE_ANALYTICS_METRICS_PATH
      #- GOOGLE_ANALYTICS_METRICS_VIEWID
      - DEBUG=true
      # - CALIPER_HOST=https://caliper.imsglobal.org/caliper/PUT_TEST_BEARER_TOKEN_HERE/message
      # - CALIPER_API_KEY=PUT_TEST_BEARER_TOKEN_HERE
      # - CALIPER_BASE_URL=http://localhost:8888/test_url/
      # - CALIPER_LDAP_ACTOR_HOMEPAGE=http://media_wiki_ldap_homepage
      - MEDIAWIKI_UPGRADE_KEY=upgrade
  job_runner:
    <<: *app
    command: php /var/www/html/maintenance/runJobs.php --wait
    ports:
      - 8081:80

# use combined image for now
#  parsoid:
#    image: ubcctlt/parsoid
#    environment:
#      - MEDIAWIKI_API_URL=http://web/w/api.php
#      - MEDIAWIKI_DOMAIN=localhost
#      - MEDIAWIKI_PREFIX=localhost
#  restbase:
#    image: ubcctlt/restbase
#    environment:
#      - MEDIAWIKI_API_URL=http://web/w/api.php
#      - PARSOID_DOMAIN=localhost
#      - PARSOID_URL=http://parsoid:8000
  nodeservices:
    image: ubcctlt/mediawiki-node-services
    ports:
      - 7231:7231
    environment:
      - MEDIAWIKI_API_URL=http://web/api.php
      - MEDIAWIKI_REST_URL=http://web/rest.php
      - LOG_LEVEL=debug
    volumes:
      - ./.data/services:/data
  ldap:
    image: osixia/openldap:1.1.9
    command: --copy-service
    ports:
      - 1389:389
    volumes:
      - ./dev/ldapadd_ubcedu.ldif:/container/service/slapd/assets/config/bootstrap/ldif/custom/ldapadd_ubcedu.ldif
      - ./.data/ldap:/var/lib/ldap
      - ./.data/slapd.d:/etc/ldap/slapd.d
#  memcached:
#    image: memcached:1.5-alpine
  redis:
    image: redis:6.0-alpine
