version: '2'
services:
  db:
    image: mariadb:10.1
    environment:
      - MYSQL_ROOT_PASSWORD=password
    volumes:
      - ./.data/db:/var/lib/mysql
    ports:
      - 3306:3306
  web:
    image: ubcctlt/mediawiki
    build: .
    ports:
      - 8080:80
    # use the links section if you want to use a container for a database.
    # if not, and you want to use an external database server, configure
    # if with the environment variables in the 'environment' section.
    # see README.md for more details.
    links:
      - db
    # uncomment the 'volumes' section to enable a shared volume with docker-compose
    volumes:
      - ./.data/web:/data:rw
      - ./CustomSettings.php:/conf/CustomSettings.php
    environment:
      - MEDIAWIKI_SITE_SERVER=//localhost:8080
      - MEDIAWIKI_SITE_NAME=My Awesome Wiki
      - MEDIAWIKI_DB_HOST=db
      - MEDIAWIKI_DB_PASSWORD=password
      # uncomment 'MEDIAWIKI_ENABLE_SSL' to enable SSL support
      # - MEDIAWIKI_ENABLE_SSL=true
      - MEDIAWIKI_EXTENSIONS=VisualEditor,WikiEditor,ParserFunctions,Cite,TemplateData,Scribunto,InputBox,Widgets,Maps,Math,LiquidThreads,Variables,RightFunctions,PageInCat,CategoryTree,LabeledSectionTransclusion,UserPageEditProtection,Quiz,UploadWizard,Collection,DynamicPageList
      - MEDIAWIKI_ALLOW_SITE_CSS_ON_RESTRICTED_PAGES=true
      - PARSOID_URL=http://nodeservices:8142
      - PARSOID_DOMAIN=localhost
      - RESTBASE_URL=http://nodeservices:7231
      - LDAP_SEARCH_ATTRS=cn
      - LDAP_PROXY_AGENT=cn=admin,dc=example,dc=org
      - LDAP_PROXY_PASSWORD=admin
      - MEDIAWIKI_MAIN_CACHE=CACHE_MEMCACHED
      - MEDIAWIKI_MEMCACHED_SERVERS=["memcached:11211"]
      # uncomment to specify the wgUploadPath
      # - MEDIAWIKI_UPLOAD_PATH=
      - LDAP_DEBUG=3
      # the following variables are from shell environment or .env file
      - LDAP_SERVER
      - LDAP_PORT
      - LDAP_DOMAIN
      - LDAP_BASE_DN
      - LDAP_SEARCH_ATTRS
      - LDAP_PROXY_AGENT
      - LDAP_PROXY_PASSWORD
      - LDAP_ENCRYPTION_TYPE
      - DEBUG=true

# use combined image for now
#  parsoid:
#    image: ubcctlt/parsoid
#    environment:
#      - MEDIAWIKI_API_URL=http://web/w/api.php
#      - MEDIAWIKI_DOMAIN=localhost
#      - MEDIAWIKI_PREFIX=localhost
#  restbase:
#    image: ubcctlt/restbase
#    environment:
#      - MEDIAWIKI_API_URL=http://web/w/api.php
#      - PARSOID_DOMAIN=localhost
#      - PARSOID_URL=http://parsoid:8000
  nodeservices:
    image: ubcctlt/mediawiki-node-services
    ports:
      - 7231:7231
    environment:
      - MEDIAWIKI_API_URL=http://web/api.php
      - LOG_LEVEL=debug
    volumes:
      - ./.data/services:/data
  ldap:
    image: osixia/openldap:1.1.9
  memcached:
    image: memcached:1.5-alpine
